<div class="row">
  <h3 id="status">Your file is <%= @task.status %></h3>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>
<div class="row center">
  <%= link_to 'back', root_path, class: 'waves-effect waves-light btn' %>
</div>

<script type="text/javascript">
  (function check_task_status() {
    $.getJSON("<%= task_path(@task) + "?format=json" %>", function(data) {
      console.log("test");
      console.log(data);
      $("#status").html("Your file is "+ data["status"] + ".");
      if (data["status"] != "broken" && data["status"] != "sent") {
        setTimeout(check_task_status, 1000);
      } else {
        $(".indeterminate").addClass("determinate").attr("style", "width: 100%");
        $(".indeterminate").removeClass("indeterminate");
      }
    });
  }());
</script>
