$secondary-color: #fbc02d;
@import "materialize";
$new-background-color: darken(color('indigo', 'darken-4'), 20%);

body {
  background-color: $new-background-color;
  color: white;
  font-weight: lighter;
  .btn {
    color: $new-background-color;
    font-weight: normal;
  }
}

.logo {
  @extend .center;
  font-size: 10rem;
  color: $secondary-color;
}

.title{
  @extend .center;
  font-weight: lighter;
}

.intro {
  @extend .center;
  a {
    color: $secondary-color;
  }
  h5 {
    font-weight: lighter;
  }
  #copy-link {
    font-weight: normal;
  }
}

.note {
  @extend .center;
  @extend  .grey-text, .text-lighten-3;
}

#status {
  @extend .center;
  font-weight: lighter;
}

footer {
  @extend .center;
  color: #eeeeee;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: $secondary-color;
    }
  }
}
